<div class="container action_page">
	<div class="action_title_bar">
		<div class="action_status action_controls" id="action_status"></div>
		<div class="title name editable">{{this.title}}</div>
		<button type="button" class="btn btn-default create pull-right">Create</button>
	</div>
	<br>
	<div class="row">
		<div class="col-md-4 action_details">
			<label>Starts on:</label> <div class="start_date date editable">{{this.start_date}}</div>
			<br>
			<label>Ends on: </label> <div class="end_date date editable">{{this.end_date}}</div>
			<div class="participants_limit">
				<br>
				<label>Minimum participants: </label> <div class="min_participants constraint editable">{{this.min_participants}}</div>
				<br>
				<label>Maximum participants: </label> <div class="max_participants constraint editable">{{this.max_participants}}</div>
			</div>
			<br>
			<div class="address editable">{{this.address}}</div>
			<div class="tags"></div>
		</div>
		<div class="col-md-8">
			<div class="description editable">{{this.description}}</div>
		</div>	
	</div>
</div>
