{{#each []}}
	<div class="box-item row">
		<div class="user col-md-10" id="{{id}}">
			<div class="left usersearchimage" id="{{id}}">
			</div>
			<div class="usersearchname" >
				{{this.first_name}} {{this.last_name}}
			</div>
			<div class="usersearchaddress" >
				{{this.address}}
			</div>
		</div>
		{{#if this.isfriend}}
			<div class='col-md-2' style="margin-top: 83px;">
				<input type="button" id="{{id}}" class="btn btn-default pull-right removefriend" value="Remove Friend" />
			</div>
		{{else}}
			<div class='col-md-2' style="margin-top: 83px;">
				<input type="button" id="{{id}}" class="btn btn-default pull-right addfriend" value="Add Friend" />
			</div>
		{{/if}}
	</div>
	<br>
{{/each}}