.top{

}

.userimage{
	width: 100px;
}

.left{
	float: left;
}

.information{

}

.right{
	float: left;
}

.bottom{
	clear: both;
}

.thumbnail{
	width: 100px;
}

.name{

}

.tag{

}

.pagebar{

}

.list{

}

.login{

}

.name{

}

.birthday{

}

.address{

}


.activities{

}

.interests{

}

.friends{

}

.actions{

}
