{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<script src="{% static "skvallra/js/jquery.min.js" %}"></script>
	    <script src="{% static "skvallra/js/handlebars.js" %}"></script>
	    <script src="{% static "skvallra/js/underscore-min.js" %}"></script>
	    <script src="{% static "skvallra/js/backbone-min.js" %}"></script>
	    <script src="{% static "skvallra/js/backbone-relational.js" %}"></script>
	    <script src="{% static "skvallra/js/templates.js" %}"></script>
	    <link rel="stylesheet" type="text/css" href="{% static "skvallra/css/style.css" %}">
	    <link rel="stylesheet" type="text/css" href="{% static "skvallra/css/bootstrap.css" %}">
	</head>
	<body>
		<div id="stuff">
		</div>
	</body>
</html>