@font-size:					14px;
@larger-font-size:			@font-size * 1.5;

@font-color:				#000;
@light-font-color:			lighten(@font-color, 50%);

@friend-item-width:			100px;

@white:						#fff;

.animate(@animation, @duration, @fill) {
	-webkit-animation-name: @animation;
	-webkit-animation-duration: @duration;
	-webkit-animation-fill-mode: @fill;
	animation-name: @animation;
	animation-duration: @duration;
	animation-fill-mode: @fill;
}

body {
	font-size: @font-size;
	color: @font-color
}

img {
	max-width: 100%;
}

a {
	color: darken(@green, 20%);
}

div {
	&.login {
		position: absolute;
		top: 30%;
		left: 39.5%;
		// margin-left: auto;
		width: 300px;
		height: 200px;
		// margin-right: auto;
		background-color: #eee;
		border: 1px solid #eee;
		border-radius: 30px;
		overflow: hidden;
		> form {
			width: 200px;
			margin-top: 47px;
			margin-left: auto;
			margin-right: auto;
			> div, > a {
				margin-left: auto;
				margin-right: auto;
			}
			> div {
				> #email,#passwordconfirm, #fname, #lname {
					margin: 0px;
					padding-top: 0px;
					padding-bottom: 0px;
					border-width: 0px;
					/*display: none;*/
					/*opacity: 0.0;*/
					height: 0px;
				}
				> a {
					font-size: 0.75em;
				}
				&:last-child {
					width: 41px;
					height: 12px;
				}
				&:nth-last-of-type(2) {
					width: 61px;
				}
				> input {
					width: 100%;
					margin: 2px;
					.placeholder(darken(@green, 20%))
				}
			}
		}
	}
	&.register {
		.animate(register, 1s, forwards);
		position: absolute;
		top: 30%;
		margin-left: auto;
		margin-right: auto;
		background-color: #eee;
		border: 1px solid #eee;
		border-radius: 30px;
		> form {
			width: 200px;
			margin-top: 47px;
			margin-left: auto;
			margin-right: auto;
			> div, > a {
				margin-left: auto;
				margin-right: auto;
			}
			> div {
				> #email,#passwordconfirm, #fname, #lname {
					.animate(register-inputs, 1s, forwards);
				}
				> a {
					font-size: 0.75em;
				}
				&:last-child {
					width: 28px;
					height: 12px;
				}
				&:nth-last-of-type(2) {
					width: 78px;
				}
				> input {
					width: 100%;
					margin: 2px;
					.placeholder(darken(@green, 20%))
				}
			}
		}
	}
}

@-webkit-keyframes unblur {
  from {-webkit-filter: blur(6px);}
  to {-webkit-filter: blur(0);}
}

@-webkit-keyframes fade {
  from {opacity: 1.0;}
  to {opacity: 0.0;}
}

@-webkit-keyframes register {
  from {width: 300px; height: 200px; left: 39.5%;}
  to {width: 400px; height: 350px; left: 36%;}
}

@-webkit-keyframes register-inputs {
  	0% {margin: 0px;
    	padding-top: 0px;
    	padding-bottom: 0px;
    	border-width: 0px;
    	height: 0px;
   	}
  	100% {margin: 2px;
    	padding-top: 6px;
        padding-bottom: 6px;
        border-width: 1px;
        height: 34px;
   	}
}

#content {
	margin-bottom: 20px;
}

.navbar {

	.home {
		color: darken(@green, 35%);
		font-size: @font-size * 2;
		font-weight: bold;
		img {
			height: 25px;
		}
	}
}

#form-button {
	border: none;
	padding: 0px 0px;
	background-color: @white;
	margin-left: -30px;
	img {
		height: 15px;
	}
}

.top{

}

.profileimage{
	border: 1px solid lighten(#000, 90%);
	border-radius: 4px;
	> div {
		&.edit {
			margin-bottom: -20px;
			padding-right: 3px;
			background-color: fade(lighten(@font-color, 70%), 40%);
			padding-left: 3px;
			float: right;
			z-index: 1000;
		}
	}
	> img {
		z-index: -1;
	}
}

.left{
	float: left;
}

.information{

}

.right{
	float: left;
}

.bottom{
	clear: both;
}

.friend, .action {
	display: inline-block;
}

.userimage, .actionimage{
	border: 1px solid lighten(#000, 90%);
	border-radius: 4px;
	width: @friend-item-width;
}

.usersearchimage, .actionsearchimage {
	border: 1px solid lighten(#000, 90%);
	border-radius: 4px;
	width: @friend-item-width * 2;
}

.left {
	float: left;
	margin-right: 5px;
}

.usersearchname, .actionsearchname {
	font-size: @larger-font-size;
}

.usersearchaddress, .actionsearchaddress {
	font-size: @font-size;
	color: @light-font-color;
}

.userimagename, .actionimagename {
	font-weight: normal;
	font-size: @font-size;
	width: @friend-item-width;
}

.name{
	font-weight: bold;
	font-size: @larger-font-size;
}

.birthday{
	color: @light-font-color;
}

.address{
	color: @light-font-color;
}

.tag{

}

.pagebar{

}

.list{

}

.login{

}

.activities{

}

.interests{

}

.friends{

}

.actions{

}

.box-item{
	border: 2px solid darken(@green, 20%);
	border-radius: 4px;
	padding: 8px;
}
